@page
@model SnackisApp.Pages.GroupPageModel

<h1>Groups</h1>


<head>
    <link rel="stylesheet" href="~/css/group.css" asp-append-version="true"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main class="main">
         
        <aside class="aside">     <img src="/siteImages/community.png" alt="Community icon" class="community-img"> <div class="seperator"></div> <h5>Invitations</h5>
@if (Model.Invitations != null && Model.Invitations.Count > 0)
{
    <ul>
        @foreach (var invitation in Model.Invitations)
        {
            <li>
                Group: @invitation.Group.Name - Invited by @invitation.InvitingUser.UserName
                <form method="post" asp-page-handler="AcceptInvitation">
                    <input type="hidden" name="groupId" value="@invitation.GroupId" />
                    <input type="hidden" name="invitedUserId" value="@invitation.InvitedUserId" />
                    <button type="submit" class="group-btn">Accept Invitation</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>You don't have any invitations right now.</p>
}
   <div class="seperator"></div>
<h5>Manage your groups</h5>
      <ul>
                    <li class="sidebar-li">
                    <a class="group-btn" asp-area="" asp-page="/Groups/ManageGroups">
                       Group Manager
                    </a>
                </li>
            </ul>
              <div class="seperator"></div>
  </aside>


       <div class="content">
@foreach (var group in Model.Groups)
{
        <div class="group-content">


    <h3>Messages in @group.Name</h3>
    <ul>
            <div class=" box-message-content">
       
        @foreach (var message in group.Messages)
        {
               <div class="message-content">
            <li>@message.User.UserName: @message.Content</li>
            </div>
        }
    </ul>
       <div class="seperator"></div>
        <form method="post" asp-page-handler="SendMessage">
        <input type="hidden" asp-for="GroupId" value="@group.Id" />
        <textarea asp-for="MessageContent" placeholder="Message"required class="write-message"></textarea>
        <button type="submit" class="btn-send">Send Message</button>
        
    </form></div> 
}
</div>

    </main>
</body>