@page
@model SnackisApp.Pages.DiscussionsModel
@{
    ViewData["Title"] = "Discussions";
}

<h2>Discussions</h2>

@if (Model.Discussions != null && Model.Discussions.Count > 0)
{
    <ul>
    @foreach (var discussion in Model.Discussions)
    {
        <li>
            <img src="@discussion.User.ProfileImageUrl" alt="Profile image" style="width:50px;height:50px;" />
            <strong>@discussion.Title</strong> by @discussion.User.UserName on @discussion.Date.ToString("g")
            <p>@discussion.Content</p>
            <img src="@discussion.Image" alt="Post image" style="width:100px;height:100px;" />
        </li>
    }
    </ul>
}
else
{
    <p>No discussions available.</p>
}
