@page
@using SnackisApp;
@using SnackisApp.Models;
@inject SignInManager<SnackisUser> SignInManager
@inject UserManager<SnackisUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="sidebar-left">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="StartDiv">
                <h2>Welcome to Mindful Movement!</h2>
                <p>
                    Mindful Movement is a serene space for enthusiasts of yoga, body wellness, meditation, mindfulness, and
                    holistic living.
                </p>
                <p>
                    Navigate our forum by choosing a category from the menu above or create your own post!
                </p>
                <h2>Join online now!</h2>
                <img src="/siteImages/yogaadvert.webp" alt="Yoga advert" class="yoga-ad-img">
            </div>
        }
        else
        {
            <div class="StartDiv">
                <h2>You are not logged in!</h2>
                <p>
                    Log in to your account to post on Mindful Movement. Click the log in button in the menu!
                </p>
                <p>
                    If you do not have an account, register by clicking the register button in the menu and join our mindful
                    community!
                </p>
                <p>
                    You can still read our posts. Navigate our forum by choosing a category from the menu above.
                </p>
            </div>
        }
    </div>

    <div class="main-content">
        <h2>Our latest discussions</h2>

        @if (Model.Discussions != null && Model.Discussions.Count > 0)
        {
            <ul class="discussion-list">
                @foreach (var discussion in Model.Discussions)
                {
                    <li class="discussion-item">
                        <div class="discussion-header">
                            <img src="@discussion.User.ProfileImageUrl" alt="Profile image" class="profile-image" />
                            <div>
                                <strong><a asp-page="/ViewPost" asp-route-id="@discussion.Id">@discussion.Title </a></strong>
                                <div class="discussion-meta">by @discussion.User.UserName on @discussion.Date.ToString("g")
                                </div>
                            </div>
                        </div>
                        <p class="discussion-content">@discussion.Content</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No discussions available.</p>
        }

    </div>

    <div class="sidebar-right">
                @if (SignInManager.IsSignedIn(User))
        {
        <div class="StartDiv philosopher-div">
            <h2>Quote of the Day</h2>
            @if (Model.RandomPhilosopher != null)
            {
                <p><strong>@Model.RandomPhilosopher.Name</strong> - @Model.RandomPhilosopher.Quote</p>
            }
            else
            {
                <p>No philosophers available.</p>
            }
            <br>
            <br>
            <h2>Quick access</h2>
            <ul class="horizontal-list">
                <li>
                    <a class="create-post-button" asp-area="" asp-page="/CreatePost"><i class="fa-solid fa-pen"></i></a>
                </li>
                <li>
                    <a class="create-post-button" asp-area="" asp-page="/Groups/Index"><i
                            class="fa-solid fa-user-group"></i></a>
                </li>
                <li>
                    <a class="create-post-button" asp-area="" asp-page="/EditUserInfo"
                        asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
         }
        else
        {
            <div class="StartDiv">
                <h2>By logging in you gain access to: </h2>
                <ul class="horizontal-list">
                    <li>Creating your own posts</li>
                    <li>Interacting with others</li>
                    <li>Creating group chats</li>
                    <li>Personify your profile</li>
                    <li>More fun!</li>
                </ul>
            </div>
        }
    </div>
    </div>
</div>
