@page
@model MessagesModel
@using SnackisApp.Models
@inject SignInManager<SnackisUser> SignInManager
@inject UserManager<SnackisUser> UserManager
@{
    ViewData["Title"] = "Messages";
    var user = await UserManager.GetUserAsync(User);
}
<head>
    <link rel="stylesheet" href="~/css/messages.css" asp-append-version="true" />
</head>


    @if(SignInManager.IsSignedIn(User))
    {

<h2>Messages</h2>

<div class="message-actions">
    <a asp-page="/SendMessage" class="message-btn">Write a New Message</a>
</div>

<h3>Inbox</h3>

@if (Model.ReceivedMessages != null && Model.ReceivedMessages.Count > 0)
{
    <ul class="message-list">
    @foreach (var message in Model.ReceivedMessages)
    {
        <li class="message-item">
            <div class="message-header">
                <strong>From:</strong> @message.Sender.UserName<br />
                <strong>Date:</strong> @message.DateSent<br />
            </div>
            <p class="message-content">@message.Content</p>
        </li>
    }
    </ul>
}
else
{
    <p>No messages received.</p>
}

<h3>Sent</h3>

@if (Model.SentMessages != null && Model.SentMessages.Count > 0)
{
    <ul class="message-list">
    @foreach (var message in Model.SentMessages)
    {
        <li class="message-item">
            <div class="message-header">
                <strong>To:</strong> @message.Recipient.UserName<br />
                <strong>Date:</strong> @message.DateSent<br />
            </div>
            <p class="message-content">@message.Content</p>
        </li>
    }
    </ul>
}
else
{
    <p>No messages sent.</p>
}
}