@page "/SubCategory/{id:int}"
@using SnackisApp.Models
@model SnackisApp.Pages.SubCategoryModel
@using SnackisApp.Models
@inject SignInManager<SnackisUser> SignInManager
@inject UserManager<SnackisUser> UserManager
@{
    ViewData["Title"] = Model.SubCategory.Name;
    var user = await UserManager.GetUserAsync(User);
}
<head>
    <link rel="stylesheet" href="~/css/subcategory.css" asp-append-version="true" />
</head>

<h2>@Model.SubCategory.Name</h2>

<div class="subcategory-list">
    @if(Model.Posts != null)
    {
        @foreach(var post in Model.Posts)
        {
            <a asp-page="/ViewPost" asp-route-id="@post.Id" class="subcategory-link">
                <div class="subcategory-item">
                    <div class="subcategory-header">
                        <img class="profile-image" src="@post.User.ProfileImageUrl" alt="Profile image"/>
                        <div class="subcategory-meta">
                            <div>@post.User.UserName, @post.Date.ToString("g")</div>
                        </div>
                    </div>
                    <img class="post-image" src="~/userImages/@post.Image" alt="Post image" />
                    <h3 class="post-title">@post.Title</h3>
                    <p class="subcategory-content">@post.Content</p>
                    @if(user != null && user.Id == post.UserId)
                    {
                        <a asp-route-deleteId="@post.Id" class="btn btn-primary">Delete post</a>
                    }
                </div>
            </a>
        }
    }
</div>
@if(SignInManager.IsSignedIn(User))
{
  <a asp-page="/CreatePost" asp-route-category="CreatePost" class="btn btn-primary">Create Post in this subcategory</a>
}
else
{
    <div class="alert alert-danger">To write your own posts, you need to be logged in.</div>
}
<br>
<br>