@page "{userId}"
@model SnackisApp.Pages.UserInfoModel
@{
    ViewData["Title"] = "User Info";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>

<div class="user-info">
    <h2>@Model.User.Pseudonym's Profile</h2>
    <img src="@Model.User.ProfileImageUrl" alt="Profile image" class="profile-image" />
    <p><strong>Username:</strong> @Model.User.Pseudonym</p>
    <p><strong>Email:</strong> @Model.User.UserName</p>
    <p><strong>Bio:</strong> @Model.User.Bio</p>
    <div class="send-link">
        <a class="nav-link text-dark" asp-area="" asp-page="/SendMessage">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
    </div>
</div>